<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
		<script src="./scripts/chat.js" defer type="module"></script>
	</head>
	<body>
		<main id="chatpage">
			<ul class="chat_header">
				<li>Game Pin: XSODS</li>
				<li>Users 1/10</li>
			</ul>
			<div id="game">
				<div id="singular__player">
					<p>Waiting for more players...</p>
				</div>
			</div>
			<div id="chat">
				<ul id="messages"></ul>
				<form id="form" action="">
					<input id="input" autocomplete="off" />
					<button><img src="/icons/send.svg" alt="send message" /></button>
				</form>
			</div>
		</main>
		<script src="/socket.io/socket.io.js"></script>
	</body>
</html>
