<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<main id="chatpage">
			<ul class="chat_header">
				<!-- <li>Game Pin: XSODS</li> -->
				<li id="user__count">Users</li>
			</ul>
			<div id="game">
				<p id="singular__player">Waiting for more players...</p>

				<div id="game__start">
					<div id="cocktails">
						<h1>Cocktail recipes for the drinking game</h1>
						<% for (const cocktail of cocktails) { %>
						<div class="book__page">
							<div class="left__column">
								<div class="book__controls">
									<button onclick="goPreviousPage()">
										<img src="./icons/left.svg" alt="previous cocktail" />
									</button>
									<h2><%= cocktail.name %></h2>
									<button onclick="goNextPage()">
										<img src="./icons/right.svg" alt="next cocktail" />
									</button>
								</div>
								<div>
									<img id="cocktail__img" src="https://placehold.co/228x228" alt="cocktail image" />
								</div>
							</div>

							<div class="right__column">
								<div>
									<h3 id="ingredients__button">Ingredients</h3>
									<p id="cocktail__ingredients"><%= cocktail.ingredients %></p>
								</div>
								<div>
									<h3 id="instructions__button">Instructions</h3>
									<p id="cocktail__instructions"><%= cocktail.instructions %></p>
								</div>
							</div>
						</div>
						<% } %>
					</div>
					<div id="chart"></div>
				</div>
			</div>
			<div id="chat">
				<ul id="messages"></ul>
				<form id="form" action="">
					<input id="input" autocomplete="off" />
					<button><img src="/icons/send.svg" alt="send message" /></button>
				</form>
			</div>
		</main>
		<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/chat.js"></script>
		<script src="/scripts/chart.js"></script>
	</body>
</html>
