<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<form id="username__form" action="">
			<input id="username__input" autocomplete="off" />
			<button type="submit">Send</button>
		</form>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/username.js"></script>
	</body>
</html>
