* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background-color: #2a2a31;
	color: white;
}

.hidden {
	display: none;
}

// homepage
#homepage {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	gap: 2em;

	h1 {
		margin-bottom: 1em;
		text-align: center;
	}

	button {
		cursor: pointer;
	}

	button:hover,
	a:hover {
		filter: brightness(90%) saturate(3);
	}

	.overview_buttons {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		gap: 2em;

		.primary_button {
			background-color: #7a7aff;
			color: white;
			border: none;
			font-size: 1em;
			font-weight: bolder;
			border-radius: 0.4em;
			height: 2.5em;
			width: 12em;
			margin: 0 auto;
		}

		.secondary_button {
			background-color: white;
			color: #7a7aff;
			border: none;
			font-size: 1em;
			font-weight: bolder;
			border-radius: 0.4em;
			height: 2.5em;
			width: 12em;
			margin: 0 auto;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2em;

		input {
			padding: 0.7em;
			text-align: center;
			border-radius: 2em;
			border: none;
			font-weight: bold;
			font-size: 1em;
		}

		div {
			display: flex;
			justify-content: center;
			gap: 1em;
			flex-wrap: wrap;

			.primary_button {
				color: #ffffff;
				background-color: #7a7aff;
				text-align: center;
				width: 7em;
				height: 2em;
				border: none;
				border-radius: 0.3em;
				font-size: 1em;
			}

			.tertiary_button {
				color: #ffffff;
				background-color: #323239;
				border: none;
				text-align: center;
				width: 7em;
				height: 2em;
				border-radius: 0.3em;
				font-size: 1em;
				text-decoration: none;
				line-height: 1.8em;
				border: 1px solid white;
			}
		}
	}
}

// chat page
#chatpage {
	background-color: #2a2a31;

	.chat_header {
		display: flex;
		width: 50vw;
		right: 0;
		position: absolute;
		z-index: 1;
		background-color: #323239;
		list-style: none;
		justify-content: space-between;
		padding: 1em 2em;
		font-weight: bolder;
	}

	// chat div
	#chat {
		width: 50vw;
		background-color: #323239;
		position: absolute;
		right: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 2em;
		// overflow: hidden;

		// ul with messages
		#messages {
			width: 100%;
			padding: 4.5em 2em !important;
			gap: 0.2em;
			z-index: 0;
			list-style: none;
			position: absolute;
			padding-bottom: 2em;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		form {
			z-index: 1;
			display: flex;
			width: 100%;
			gap: 1em;
			position: relative;

			input {
				flex-grow: 1;
				background-color: #393941;
				border: none;
				height: 4em;
				color: white;
				padding: 1em;
				border-radius: 0.4em;

				&:focus {
					border: 1px solid #7a7aff;
					outline: none;
					border-radius: 0.4em;
				}
			}

			button {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				border: none;
				background: none;
				padding: 1em;
				cursor: pointer;
			}
		}
	}
	// game div
	#game {
		width: 50vw;
		position: absolute;
		left: 0;
		height: 100vh;
		display: flex;
		// justify-content: center;
		// align-items: center;
		padding: 2em;

		#singular__player {
			font-weight: bolder;
		}

		.book__page {
			display: none;
			flex-direction: column;
		}

		.book__page.active {
			display: flex;
		}

		.book__controls {
			display: flex;
			align-items: center;
			gap: 16px;

			h2 {
				text-transform: capitalize;
			}

			button {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid #32ffb5;
				color: #32ffb5;
				background: transparent;
			}

			button:hover {
				cursor: pointer;
				border: 1px solid #2cca90;
				color: #2cca90;
			}
		}
		// d3 spinner

		// d3
		#chart {
			top: 0;
			left: 0;
			max-width: 10vw;
			width: 500px;
			height: 500px;
			user-select: none;
		}

		.chartholder + g {
			fill: #fff;
		}

		text {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 30px;
			fill: #2d9396;
			pointer-events: none;
		}
		g.slice text {
			font-size: 11px;
			fill: #000;
		}

		g.slice:nth-of-type(1) path {
			fill: #94d2bd;
		}
		g.slice:nth-of-type(2) path {
			fill: #2d9396;
		}
		g.slice:nth-of-type(3) path {
			fill: #195f73;
		}
		g.slice:nth-of-type(4) path {
			fill: #ae2012;
		}
		g.slice:nth-of-type(5) path {
			fill: #bb3e03;
		}
		g.slice:nth-of-type(6) path {
			fill: #ca6701;
		}
		g.slice:nth-of-type(7) path {
			fill: #ee9b00;
		}
		g.slice:nth-of-type(8) path {
			fill: #7c9c10;
		}

		circle {
			fill: #fff;
			cursor: pointer;
		}
	}
}
